@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundColor {
  background: rgba(240, 243, 238, 1);

}

.darkGreen {
  color: rgba(0, 86, 64, 1);

}

.buttonColor {
  background-color: rgba(0, 206, 126, 1);
}

.boxShadow {
  box-shadow: 5px 0px 10px 0px rgba(30, 30, 30, 0.25);

}

.link{
  color: rgba(20, 48, 42, 1);

}

.activeLink {
  color: rgba(0, 206, 126, 1);

}

.linkBackground{
  background: rgba(20, 48, 42, 1);

}

.skinBackground {
  background-color: rgba(186, 143, 82, 1);
  ;
}

.darkBackground {
  background: rgba(0, 86, 64, 1);

}

.tabBackGround {
  background-color: rgba(234, 234, 234, 1);
}

.less-italic {
  font-style: italic;
  font-variant: normal;
  transform: skew(-5deg); /* Adjust the skew value to make it less tilted */
}